MINIO_ROOT_USER="{{ minio_effective_root_user }}"
MINIO_ROOT_PASSWORD="{{ minio_effective_root_password }}"
MINIO_VOLUMES="{{ minio_data_dir }}"
MINIO_OPTS="--address {{ minio_bind_address }}:{{ minio_api_port }} --console-address {{ minio_console_bind_address }}:{{ minio_console_port }}"
